<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>MusicPlayer</title>
  </head>
  <body>
    <div class="container">
      <ul class="music_list" id="MusicList">
        <!-- <div class="loading hide" id="loading">
          <img src="../assets/img/loading.gif" alt="Loading" />
        </div> -->
        <li class="list_head">
          <div class="row">#</div>
          <div class="album">Cover</div>
          <div class="title">Title</div>
          <div class="artist">Artist</div>
          <div class="time">Time</div>
        </li>
      </ul>
      <div class="current_music pause">
        <div class="gramophone">
          <img
            src="../assets/img/gramophone.svg"
            alt="cover"
            class="cover"
            id="cover"
          />
          <img src="../assets/img/gramophone_tab.png" alt="tab" class="tab" />
          <div class="hole"></div>
        </div>
        <audio src="" preload="auto" id="Player"></audio>
        <div class="timeController">
          <input type="range" id="TimeLine" class="TimeLine" value="0" />
          <span class="current-time" id="currentTime">00:00</span>
          <span class="duration" id="duration">00:00</span>
        </div>
        <div class="btn-group">
          <button class="controller_item prev" id="prev">
            <img src="../assets/img/icons/previous.png" alt="previous" />
          </button>
          <button class="controller_item play" id="play_pause">
            <img src="../assets/img/icons/play.png" alt="play" />
          </button>
          <button class="controller_item next" id="next">
            <img src="../assets/img/icons/next.png" alt="next" />
          </button>
          <button class="controller_item stop" id="stop">
            <img src="../assets/img/icons/stop.png" alt="stop" />
          </button>
          <button class="controller_item mute" id="mute">
            <img src="../assets/img/icons/unmute.png" alt="unmute" />
          </button>
        </div>
      </div>
    </div>

    <script>
      require('../node_modules/jquery/dist/jquery.min.js')
      require('../assets/js/index.js')
      //
    </script>
  </body>
</html>
