<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>MusicPlayer</title>
  </head>
  <body>
    <div class="container">
      <ul class="music_list">
        <li class="list_head">
          <div class="row">#</div>
          <div class="album">Cover</div>
          <div class="title">Title</div>
          <div class="artist">Artist</div>
          <div class="time">Time</div>
        </li>
        <li class="list_item">
          <span class="row">1</span>
          <span class="album"
            ><img src="../assets/img/gramophone.svg" alt=""
          /></span>
          <span class="title">Music Name</span>
          <span class="artist">Artist Name</span>
          <span class="time">02:12</span>
        </li>
      </ul>
      <div class="current_music"></div>
    </div>

    <script>
      require('../assets/js/index.js')
      //
    </script>
  </body>
</html>
