<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>MusicPlayer</title>
  </head>
  <body>
    <div class="container">
      <ul class="music_list" id="MusicList">
        <li class="list_head">
          <div class="row">#</div>
          <div class="album">Cover</div>
          <div class="title">Title</div>
          <div class="artist">Artist</div>
          <div class="time">Time</div>
        </li>
      </ul>
      <div class="current_music">
        <div class="gramophone"></div>
        <input type="range" id="TimeScroller" />
        <audio src="" preload="auto" id="Player" controls></audio>
        <div class="btn-group">
          <button class="play"></button>
          <button class="play"></button>
          <button class="play"></button>
          <button class="play"></button>
          <button class="play"></button>
        </div>
      </div>
    </div>

    <script>
      require('../node_modules/jquery/dist/jquery.min.js')
      require('../assets/js/index.js')
      //
    </script>
  </body>
</html>
