@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap');
*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
  -webkit-app-region: drag;
  height: 100vh;
  width: 100vw;
  background-image: url('../img/background_image.png');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Dosis;
  overflow: hidden;
}

.hide {
  display: none !important;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 13, 0.5);
  display: grid;
  grid-template-columns: 70% 30%;
  overflow: hidden;
}

.container .music_list {
  background-color: rgba(255, 255, 255, .9);
  margin: 20px;
  height: calc(100vh - 40px);
  /* border-radius: 20px; */
  color: #070408;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-app-region: no-drag;
  position: relative;
}

.container .music_list::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

.container .music_list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
  /* margin: 10px auto; */
}

.container .music_list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.container .music_list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.container .music_list .loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(220, 220, 220, 0.5);
}

.container .music_list .list_head {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 40px 100px 45% 20% 15%;
  justify-content: center;
  padding: 5px 15px;
  border-bottom: gray;
  background-color: rgb(144, 146, 155);
  text-align: center;
  font-weight: 900;
  scroll-behavior: smooth;
}

.container .music_list .list_head .row {
  border-right: 1px solid #bdbcc1;
}

.container .music_list .list_head .album {
  border-right: 1px solid #bdbcc1;
}

.container .music_list .list_head .title {
  border-right: 1px solid #bdbcc1;
}

.container .music_list .list_head .artist {
  border-right: 1px solid #bdbcc1;
}

.container .music_list .list_item {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 40px 100px 45% 20% 15%;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid darkgray;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.container .music_list .list_item:hover {
  background-color: rgba(209, 81, 226, 0.2);
}

.container .music_list .list_item.active {
  background-color: rgba(224, 130, 236, 0.2);
}

.container .music_list .list_item .title {
  padding: 0 10px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .music_list .list_item .artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .music_list .list_item .album img {
  width: 40px;
  border-radius: 100%;
}

.container .music_list .list_item.active .album img {
  animation: spin 4s linear infinite;
}

.container .current_music {
  /* background-color: #ccc; */
  margin: 20px 0;
  width: 280px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-app-region: no-drag;
}

.container .current_music .gramophone {
  position: relative;
  width: 100%;
  height: 320px;
}

.container .current_music .gramophone img.cover {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 240px;
  z-index: 0;
  background-color: #c7c7c7;
  border-radius: 100%;
  animation: spin 6s linear infinite;
  animation-delay: .2s;
  border: 10px solid #c7c7c7;
}

.container .current_music .gramophone .hole {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 15px);
  height: 30px;
  width: 30px;
  transform: translate(-50% -50%);
  border-radius: 100%;
  background: #c7c7c7;
  box-shadow: inset 0 0 5px #000000;
  z-index: 1;
}

.container .current_music.pause .gramophone img.cover {
  animation-play-state: paused;
}

.container .current_music .gramophone img.tab {
  position: absolute;
  top: -25px;
  left: 15px;
  width: 280px;
  padding: -40px;
  z-index: 1;
  transform-origin: 239px 66px;
  transform: rotate(-10deg);
  transition: .5s ease-in-out;
}

.container .current_music.pause .gramophone img.tab {
  transform: rotate(-30deg);
  transform-origin: 239px 66px;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.container .current_music .timeController {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
}

.controller_item img {
  height: 20px;
  width: 20px;
}

.container .current_music .timeController .TimeLine {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 19px;
  margin: 0 2.5% 0 2.5%;
}